{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<link rel='icon' href='/static/favicon.ico' type='image/x-icon' >
<div>
    <h1>{{ shape.name }}</h1>
    {% leaflet_map "main" callback="map_init" %}
</div>

<script type="text/javascript">
    function map_init(map, options) {
        var latlongs = "{{ shape.shape_coords_list|escapejs }}";
        var latlongs = JSON.parse(latlongs);
        var polygon = L.geoJson(latlongs).addTo(map);
        map.fitBounds(polygon.getBounds());
    }
</script>