#info {
    display: block;
    position: absolute;
    margin: 3px auto;
    width: 23%;
    //padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: right;
    color: #222;
    background: #fff;
    bottom: 0;
    left: 90;
    z-index:1000;
    opacity: 0.9;
}

.leaflet-container {
    height: 80%;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}