{% load leaflet_tags %}
{% load static %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon' >
    <script type="text/javascript" src="{% static 'js/leaflet.groupedlayercontrol.min.js' %}"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.groupedlayercontrol.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="jumbotron jumbotron-fluid" style="padding:1rem;">
        <div class="container">
            <h3 class="display-6">Optimus</h3>
        </div>
    </div>
    <form>
        <div class="container border" >
          <div class="row">
            <div class="col">
                <p>Exibir Áreas de Proteção:</p>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="apa">
                  <label class="form-check-label" for="inlineCheckbox1">APA: Área de Proteção Ambiental</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="ara">
                  <label class="form-check-label" for="inlineCheckbox2">ARA: ÁREA DE SEGURANÇA E PROTEÇÃO AEROPORTUÁRIA</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="app">
                  <label class="form-check-label" for="inlineCheckbox3">APP: Área de Preservação Permanente</label>
                </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Aplicar</button>
        </div>
    </form>
    <div id='info' class="leaflet-control"></div>

    {% leaflet_map "main" callback="window.map_init_basic" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function map_init_basic (map, options) {
            // var osm = 'http://{s}.tile.openstreetmap.org/{z}{y}{x}.png';
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}{y}{x}.png');
            /*
                Inicialização do Mapa
            */

            var styleGoiania = {
                "color": "#ff7800"
            };
            var latlongs = "{{ resultado.Goiania.data|escapejs }}";
            var latlongs = JSON.parse(latlongs);
            var polygon = L.geoJson(latlongs, {style: styleGoiania}).addTo(map);
            map.fitBounds(polygon.getBounds());

            var styleAPA = {
                "color": "#00e600"
            };

            var latlongsAPA = "{{ resultado.APA.data|escapejs }}";
            var latlongsAPA = JSON.parse(latlongsAPA);
            var polygonAPA = L.geoJson(latlongsAPA, {style: styleAPA}).addTo(map);
            map.fitBounds(polygonAPA.getBounds());

            var styleARA = {
                "color": "#595959"
            };

            var latlongsARA = "{{ resultado.ARA.data|escapejs }}";
            // console.log(latlongsARA);
            var latlongsARA = JSON.parse(latlongsARA);
            var polygonARA = L.geoJson(latlongsARA, {style: styleARA}).addTo(map);
            map.fitBounds(polygonARA.getBounds());

            var latlongsAPP = "{{ resultado.APP.data|escapejs }}";
            // console.log(latlongsAPP);
            var latlongsAPP = JSON.parse(latlongsAPP);
            var polygonAPP = L.geoJson(latlongsAPP).addTo(map);
            map.fitBounds(polygonAPP.getBounds());


            var latlongsRCC = "{{ resultado.RCC.data|escapejs }}";
            // console.log(" - - - - - - - - - - - - - - - - - - ");
            // console.log(latlongsRCC);
            // console.log(latlongsRCC.length)
            // for (var i = 0; i < latlongsRCC.length; i++) {
            //     console.log(latlongsRCC[i]);
                // marker = new L.geoJson(latlongsRCC[i]).addTo(map);
                //var latlongsRCC = JSON.parse(latlongsRCC);
                // map.fitBounds(marker.getBounds());
            // }
            var latlongsRCC = JSON.parse(latlongsRCC);
            var polygonRCC = L.geoJson(latlongsRCC).addTo(map);
            map.fitBounds(polygonRCC.getBounds());

            /*
                 Para exibir Coordenada conforme movimentação do Mapa.
            */
            document.getElementById("main").appendChild(info);
            map.on('mousemove', function (e) {
                document.getElementById('info').innerHTML = '[Lng: ' + e.latlng.lng + ',' + ' Lat: ' + e.latlng.lat + ']';
                // e.lngLat is the longitude, latitude geographical position of the event
            });

            var baseLayers = {
                "OSM": osm
            }
            var groupedOverlays = {
                  "Layers": {
                    "Goiania": polygon,
                    "APA": polygonAPA,
                    "ARA": polygonARA,
                    "APP": polygonAPP,
                  }
            };
            L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
        }
    </script>
    <script src="../static/js/scripts.js"></script>
</body>
</html>